<a class="pcase pcase--small{{caseReveal}}" href="{{caseHref}}"{{caseNiche}}>
  <span class="pcase__cover">
    <img src="{{caseCover}}" alt="{{caseAlt}}" loading="lazy" decoding="async">
    <span class="pcase__go"><svg class="ic" viewBox="0 0 22 22" aria-hidden="true"><use href="#i-arrow-right"/></svg></span>
  </span>
  <span class="pcase__caption">
    <span class="pcase__chips">{{caseChips}}</span>
    <span class="pcase__head">
      <span class="pcase__title">{{caseTitle}}</span>
    </span>
  </span>
</a>
