<div class="site-preview-wrap reveal">
  <a class="live-link site-preview__cta" href="https://collagenina.ru/" target="_blank" rel="noopener">
    <span class="live-link__badge"><span class="live-link__dot" aria-hidden="true"></span>Live&nbsp;site</span>
    <span class="live-link__text">collagenina.ru<svg class="icon-arrow-ne" viewBox="0 0 16 16" aria-hidden="true"><use href="#i-arrow-ne"/></svg></span>
  </a>
  <div class="site-preview">
    <div class="site-preview__chrome">
      <span class="site-preview__dot" aria-hidden="true"></span><span class="site-preview__dot" aria-hidden="true"></span><span class="site-preview__dot" aria-hidden="true"></span>
      <span class="site-preview__url" aria-hidden="true">collagenina.ru</span>
    </div>
    <div class="site-preview__frame" data-preview-frame>
      <div class="site-preview__stage" data-preview-stage>
        <section class="cg-hero" aria-label="Копия первого экрана collagenina.ru">
          <div class="cg-hero__top">
            <img class="cg-hero__patents" src="{{root}}assets/works/Collagenina/preview/logo_SP.svg" alt="" width="200" height="60">
            <nav class="cg-hero__nav"><span>О&nbsp;БРЕНДЕ</span><span>КАК&nbsp;РАБОТАЕТ?</span><span>ГДЕ КУПИТЬ?</span></nav>
            <img class="cg-hero__logo" src="{{root}}assets/works/Collagenina/preview/LogoLABO.svg" alt="LABO" width="220" height="56">
          </div>
          <div class="cg-hero__stage">
            <img class="cg-hero__shot" src="{{root}}assets/works/Collagenina/preview/hero.webp" alt="">
            <div class="cg-hero__copy">
              <p class="cg-hero__title">Collagenina</p>
              <p class="cg-hero__lead">Роскошный интенсивный уход для&nbsp;кожи,<br>возвращающий ей&nbsp;тонус и&nbsp;упругость.</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
