<a class="featured home-hero__featured reveal" id="featured" href="{{heroHref}}" data-featured>
  <span class="featured__media">
{{heroImages}}
  </span>
  <span class="featured__caption">
    <span class="featured__head">
      <span class="featured__num">{{heroNum}}</span>
      <span class="featured__title">{{heroTitle}}</span>
    </span>
    <span class="featured__type">{{heroType}}</span>
    <!-- component:ilink text="Открыть кейс" --><!-- /component:ilink -->
  </span>
</a>

<div class="home-hero__index">
  <div class="cindex" data-cindex>
    <p class="cindex__eyebrow reveal">Избранные работы</p>
    <div class="cindex__rows">
{{heroRows}}
    </div>
    <a class="allworks reveal" href="{{worksHref}}">
      <span class="allworks__text">Смотреть все работы</span>
      <span class="allworks__circle"><svg class="ic" viewBox="0 0 22 22" aria-hidden="true"><use href="#i-arrow-right"/></svg></span>
    </a>
  </div>
</div>
