<svg class="icon-sprite" width="0" height="0" aria-hidden="true" focusable="false">
  <symbol id="i-arrow-right" viewBox="0 0 22 22">
    <path d="M4 11h14M18 11l-6-6M18 11l-6 6" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"/>
  </symbol>
  <symbol id="i-arrow-ne" viewBox="0 0 16 16">
    <path d="M2.5 13.5L13.5 2.5M13.5 2.5H5.25M13.5 2.5V10.75" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"/>
  </symbol>
  <symbol id="i-star" viewBox="0 0 44 44">
    <path d="M22 0c1.4 11.2 10.4 20.2 21.6 21.6-11.2 1.4-20.2 10.4-21.6 21.6C20.6 32 11.6 23 .4 21.6 11.6 20.2 20.6 11.2 22 0z" fill="currentColor"/>
  </symbol>
</svg>
