<section class="case-other">
  <div class="section-head reveal">
    <h2>Другие проекты</h2>
  </div>
  <div class="portfolio__grid case-other__grid">
    <a class="pcase reveal" href="{{otherAHref}}">
      <span class="pcase__cover">
        <img src="{{otherACover}}" alt="{{otherAAlt}}" width="610" height="458">
        <span class="pcase__go"><svg class="ic" viewBox="0 0 22 22" aria-hidden="true"><use href="#i-arrow-right"/></svg></span>
      </span>
      <span class="pcase__caption">
        <span class="pcase__chips">{{otherAChips}}</span>
        <span class="pcase__head">
          <span class="pcase__title">{{otherATitle}}</span>
          <span class="pcase__desc">{{otherADesc}}</span>
        </span>
        <span class="pcase__metric"><b>{{otherAMetricValue}}</b><span>{{otherAMetricLabel}}</span></span>
      </span>
    </a>
    <a class="pcase reveal" href="{{otherBHref}}">
      <span class="pcase__cover">
        <img src="{{otherBCover}}" alt="{{otherBAlt}}" width="610" height="458">
        <span class="pcase__go"><svg class="ic" viewBox="0 0 22 22" aria-hidden="true"><use href="#i-arrow-right"/></svg></span>
      </span>
      <span class="pcase__caption">
        <span class="pcase__chips">{{otherBChips}}</span>
        <span class="pcase__head">
          <span class="pcase__title">{{otherBTitle}}</span>
          <span class="pcase__desc">{{otherBDesc}}</span>
        </span>
        <span class="pcase__metric"><b>{{otherBMetricValue}}</b><span>{{otherBMetricLabel}}</span></span>
      </span>
    </a>
  </div>
</section>
