<li>
  <a class="link-arrow" href="{{telegram}}" target="_blank" rel="noopener">
    <span>Telegram</span>
    <svg class="icon-arrow-ne" viewBox="0 0 16 16" aria-hidden="true"><use href="#i-arrow-ne"/></svg>
  </a>
</li>
<li>
  <a class="link-arrow" href="{{linkedin}}" target="_blank" rel="noopener">
    <span>LinkedIn</span>
    <svg class="icon-arrow-ne" viewBox="0 0 16 16" aria-hidden="true"><use href="#i-arrow-ne"/></svg>
  </a>
</li>
<li>
  <a class="link-arrow" href="{{behance}}" target="_blank" rel="noopener">
    <span>Behance</span>
    <svg class="icon-arrow-ne" viewBox="0 0 16 16" aria-hidden="true"><use href="#i-arrow-ne"/></svg>
  </a>
</li>
